<Files "*">
#        Order deny,allow
#        Deny from 127.0.0.222
	Allow from 10.10.0.0/16

</Files>
<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteCond %{SERVER_PORT} 80
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]
    # RewriteRule ^$ /index.php [NC]
    RewriteRule ^admin/?$ /admin/index.php [L]
    RewriteRule ^admin_user_add /admin_users/admin_user_add.php [NC]
    RewriteRule ^admin_user_type /admin_users/user_types.php [NC]
    RewriteRule ^admin_user_search /admin_users/index.php [L,QSA]
    RewriteRule ^tasks_definition /access_control/tasks.php [NC]
    RewriteRule ^partners_management /?page=configuration/partners [NC]
    RewriteRule ^skins_management /?page=configuration/skins [NC]
    RewriteRule ^providers_management /?page=configuration/providers [NC]
    RewriteRule ^games_management /?page=configuration/game [L,QSA]
    RewriteRule ^processor_management /?page=processor/manage [NC]
    RewriteRule ^currently_live_hands /?page=live/liveHands [NC]
    RewriteRule ^croupier_add /?page=live/croupier_add [NC]
    RewriteRule ^croupier_management /?page=live/croupier [NC]
    RewriteRule ^recovery_live_hands /?page=live/recovery [NC]
    RewriteRule ^history_hands /?page=casino_games/searchuserhand [L,QSA]
    RewriteRule ^totem_games_results /?page=casino_games/agency_totem_games [NC]
    RewriteRule ^games_stats /?page=reports_casino/games_stats [L,QSA]
    RewriteRule ^games_reports /?page=reports_casino/games_rp [NC]
    RewriteRule ^entity_credits /?page=reports_casino/entity_report [NC]
    RewriteRule ^financial_summary /?page=financial_casino/financial [NC]
    RewriteRule ^financial_portomaso /?page=financial_casino/financial_portomaso [NC]
    RewriteRule ^monthly_results /?page=reports_casino/monthly_results [NC]
    RewriteRule ^monthly_played /?page=reports_casino/monthly_played [NC]
    RewriteRule ^partial_closure /?page=reports_casino/partial_closure [NC]
    RewriteRule ^search_closure/(.+?)/(.+?)$ /?page=reports_casino/searchclosure&startdate=$1&enddate=$2 [L,QSA]
    RewriteRule ^search_closure /?page=reports_casino/searchclosure [NC]
    RewriteRule ^assistance_refunds /?page=reports_casino/assistance [NC]
    RewriteRule ^search_user_transactions /?page=casino_games/searchtransaction [NC]
    RewriteRule ^search_pending_transactions /?page=transactions/deposit_pendings [NC]
    RewriteRule ^deposits /?page=transactions/cashdesk_deposit [NC]
    RewriteRule ^user_credit_transfer /?page=transactions/cashdesk_withdrawal [NC]
    RewriteRule ^corrective_transaction/?(.*)$ /?page=transactions/correction&user=$1 [L,QSA]
    RewriteRule ^manage_bonus/?(.*)$ /?page=transactions/manageBonus&user=$1 [L,QSA]
    RewriteRule ^credit_transfer /transactions/entity_credit_transfer.inc [NC]
    RewriteRule ^search_processor_transactions /?page=transactions/search_proc_transaction [NC]
    RewriteRule ^show_customers /?page=customers/search [NC]
    RewriteRule ^dangerous /?page=casino_games/warnings [NC]
    RewriteRule ^register_customer /?page=customers/add [NC]
    RewriteRule ^show_customer_skin /?page=customers/skin_search [NC]
    RewriteRule ^totem_guide /?page=totem/guide [NC]
    RewriteRule ^totem_administration /?page=totem/totem_financial [NC]
    RewriteRule ^totem_search_closure /?page=totem/totem_closure_search [NC]
    RewriteRule ^totem_manage_closure /?page=totem/totem_closure [NC]
    RewriteRule ^totem_configuration /?page=totem/totem_lists&init [NC]
    RewriteRule ^promotions /?page=configuration/promotions [NC]
    RewriteRule ^livehelp /?page=message/livehelp [NC]
    RewriteRule ^inactive_customers /?page=customers/inactive_customers [NC]
    RewriteRule ^user_mail /?page=customers/user_mail_list [NC]
    RewriteRule ^affiliates_credit_transfer$ /?page=transactions/affiliates_transactions [NC]
    RewriteRule ^affiliates_credit_transfer/(.*)?$ /?page=transactions/affiliates_transactions&jurisdiction=$1
    RewriteRule ^affiliate_configuration /?page=configuration/affiliate_configuration [NC]
    RewriteRule ^affiliates_credit_correct$ /?page=transactions/affiliates_corrective_transactions [NC] 
    RewriteRule ^useractivation$ http://193.242.104.10:8080/services/sites/UserAccountActivation.jsp [NC]
    RewriteRule ^affiliates /?page=jurisdictions/affiliates_add [NC]
    RewriteRule ^jurisdiction_commissions /?page=reports_casino/search_commissions [NC]
    RewriteRule ^transactions_manage /?page=transactions/credit_transfer [NC]
    RewriteRule ^history/today /gethistory.php [NC]
    RewriteRule ^dbslavemng /?page=services/dbase/viewStatus [NC]
    RewriteRule ^virtuals /?page=virtual/index [NC]
    RewriteRule ^manage_virtual_games /?page=virtual/manage_virtual_games [NC]
    RewriteRule ^ticket_virtual_games /?page=virtual/agency_ticket [NC]
    RewriteRule ^banners /?page=configuration/banners [NC]
    RewriteRule ^news /?page=webmasters/news [NC]
    RewriteRule ^live_results /?page=customers/live_results [L,QSA]
    RewriteRule ^tickets_complain /?page=virtual/tickets_complain [NC]
    RewriteRule ^onjn /?page=reports_casino/onjn [NC]
    RewriteRule ^poker_hands /?page=poker/poker_hands [NC]
    RewriteRule ^promotion_stats /?page=casino_games/promotion_stats [NC] 
    RewriteRule ^virtual_commissions /?page=virtual/virtual_commissions [NC]
    RewriteRule ^lotto_results /?page=reports_casino/lotto_results [NC]
    RewriteRule ^lotto_management /?page=configuration/lotto [NC]
    RewriteRule ^lotto_stats/?(.*)$ /?page=casino_games/lotto_stats [L,QSA]
    RewriteRule ^betting_history_hands /?page=reports_casino/betting_hands [L,QSA]
    RewriteRule ^chip_dumping /?page=poker/chip_dumping [L,QSA]
    RewriteRule ^currenciesManagement /?page=configuration/currenciesManagement [L,QSA]
    RewriteRule ^jackpotManagement /?page=configuration/jackpotManagement [L,QSA]
    RewriteRule ^userConnected /?page=configuration/userConnected [L,QSA]
    RewriteRule ^gameHost /?page=configuration/gameHost [L,QSA]
    RewriteRule ^betList /?page=reports_casino/betList [L,QSA]
    RewriteRule ^rolledback_transactions /?page=transactions/rolledback_transactions [NC]
    RewriteRule ^ticketparser ticketparser.php [NC]
    RewriteRule ^manage_cashier /?page=casino_games/manage_cashier [L,QSA]
    RewriteRule ^gameslimit_management /?page=configuration/gameslimit [NC]
</IfModule>
